<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>To-Do List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                        <div id="application"
                            role="application">
                            <h1 class="text-center">
                                To-Do List
                            </h1>
                            <p class="text-muted">
                                The items get automatically saved (250ms) after you stopped typing / editing.
                            </p>
                            <ul id="items-list" class="list-unstyled"></ul>
                            <hr />
                            <div class="row">
                                <div class="col-md-9">
                                    <input id="new-item-input"
                                        class="form-control input-lg"
                                        type="text"
                                        placeholder="What do you need to do?" />
                                </div>
                                <div class="col-md-3">
                                    <button id="new-item-button"
                                        class="btn btn-lg btn-block btn-primary"
                                        type="button">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div> <!-- /#application -->
                    </div>
                </div>
            </div>
        </div> <!-- /#wrapper -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <script src="assets/javascripts/application.js"></script>
    </body>
</html>
